*.zip
IconKitchen-Output/
thumbs up icons/
thumbs down icons/
neutral thumb icons/
material-theme/
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
app/build
/captures
.externalNativeBuild
Thumbs.db
