<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AccountCreationActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.RecipeDetailActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.CustomRecipeActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.VivianActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.TasteProfileActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.MealPlanActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.AccountSettingsActivity"
            android:parentActivityName=".activities.HomeActivity" />
    </application>

</manifest>
